
<footer  style="margin-top: 6%;">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://SMARTTECH.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="assets/image/logo1.jpg" class="rounded-full h-16 w-16 " alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SMART TECH</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="/About" class="rounded-md  px-3 py-2 text-sm font-medium text-white">About</a>
                </li>
                <li>
                    <a href="#" class="rounded-md  px-3 py-2 text-sm font-medium text-white">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="rounded-md  px-3 py-2 text-sm font-medium text-white">Licensing</a>
                </li>
                <li>
                    <a href="#" class="rounded-md  px-3 py-2 text-sm font-medium text-white">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm  sm:text-center dark:text-gray-400" style="color: white;">© 2024 <a href="https://SMARTTECH.com/" class="hover:underline">SMARTTECH™</a>. All Rights Reserved.</span><hr class="mx-auto border-t-2 border-white-400 mb-8 w-40" style="margin-top: 2px;">
    </div>
</footer>

